{include="../doc/_documentHeadOpen"}

<!--Barra de navegação-->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container" style="padding:0px;">
    
  <a href="/bioloOnline/" class="navbar-brand logo">
    <img
      src="/bioloOnline/src/assets/images/logo-44x44.png"
      class="img-responsive"
      alt=""
      style="width: 40px; height: 40px"
    />
    <span class="text-logo">BIOLOS ONLINE</span>
  </a>

  <button
    class="navbar-toggler btn btn-dark"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span style=" color:red ;" class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form
      id="barra"
      action="/bioloOnline/products"
      method="get"
      style="box-sizing: border-box"
    >
      <button class="btn-barra-pesquisa"><i class="fab fa-search"></i></button>
      <input
        class="input-barra-pesquisa"
        type="text"
        name="search"
        u
        placeholder="Pesquisar por produtos..."
        style="color: white; border: none; outline: none"
      />
    </form>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/bioloOnline/products"
          >Produtos <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bioloOnline/providers">Vendedores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bioloOnline/cart"
          >Carrinho({function="GetTotalProductsIntoCart($client[0]["id"] ?? 0, $provider[0]["id"] ?? 0)"})</a
        >
      </li>

      {if="$client"}
      <li class="nav-item">
        <a
          class="nav-link btn btn-warning btn-conta"
          href="/bioloOnline/logout"
          style="
            padding: 10px 30px;
            border: none !important;
            background: red !important;
            color: white !important;
          "
          >Sair</a
        >
      </li>
      {else} {if="!$provider"}

      <li class="nav-item">
        <a
          class="nav-link btn btn-danger btn-login "
          href="/bioloOnline/login-admin"
          
          >Login</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link btn btn-warning btn-conta"
          href="/bioloOnline/create-account"
          
          >Criar conta</a
        >
      </li>
      {else}

      <li class="nav-item">
        <a
          class="nav-link btn btn-danger btn-login"
          href="/bioloOnline/provider-admin"
          style="padding: 10px 30px !important"
          >Meu Pérfil</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link btn btn-warning btn-conta"
          href="/bioloOnline/logout-admin"
          style="
            padding: 10px 30px;
            border: none !important;
            background: red !important;
            color: white !important;
          "
          >Sair</a
        >
      </li>

      {/if} {/if}
    </ul>
  </div>

  </div>
  </nav>
<!--Barra de navegação-->
