RewriteEngine On
RewriteBase /bioloOnline/
  
RewriteCond %{REQUEST_FILENAME} !-s [OR]
RewriteCond %{REQUEST_FILENAME} !-l [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !.(?:css|js|jpe?g|gif|png)$ [NC]

RewriteRule ^ index.php [QSA,L]



# RewriteCond %{REQUEST_URI} !^public [OR]
# RewriteCond %{REQUEST_FILENAME} !-s [OR]
# RewriteCond %{REQUEST_FILENAME} !-l [OR]
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_URI} !.(?:css|js|jpe?g|gif|png)$ [NC]

# RewriteRule ^.*$ public/index.php [NC,L]
 