

.modal, .modal-dialog, .modal-content, .modal-header{
    background-color: #24252d !important;
    
}

.modal-header{
    border-bottom: 1px solid #474747;
    display: flex;
    justify-content: center;
    align-items: center;
   
    text-align: center;
}
.modal-title {
    color: #fff;
    margin-left: 130px;

}
.modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #24252d !important;

}
.modal-body p{
    max-width: 300px;
    text-align: center;
}
.img-modal{
    width: 300px;
    height: 360px;
    border-radius: 10px;
}

.modal-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #24252d !important;
    color: #fff;
    border-top: 1px solid #474747;


}
.modal-footer .modal-redes{
    color: #fff;
}

.modal-footer .modal-redes a{
    color: #fff;
    font-size: 18px;
    margin: 0px 10px;
}












/*===========CARRINHO==============*/
