<!------------RODAPE------------------->
<footer>
    <div class="container row" >
      <div class="col-md-6">
        <ul class="">
          <li class="" style="margin: 0px 0px 0px 0px;">
            <img src="/bioloOnline/src/assets/images/logo-44x44.png" style="width: 30px; height: 30px;">
            <span style="color: #fff; font-size: 16px;">Biolos Online</span>
          </li>
          <li><h5 style="color: #fff; font-size: 16px; margin: 10px 0px;">Adquira as ultimas atualizações</h5></li>
          <li>
            <form action="" method="get" class="form-rodape">

              <input type="text" class="form-control d-block" name="" placeholder="Teu Email" >
              <a href="#" class="">Email</a>
            </form>
            

        </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="">
          <h4>Biolos Online App</h4>
          <li><a href="#">Explore</a></li>
          <li><a href="#">Como nós trabalhamos</a></li>
          <li><a href="#">Contacte-nos</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="">
          <h4>Suporte</h4>
          <li><a href="#">Centro de atendimento</a></li>
          <li><a href="#">Termos de serviços</a></li>
          <li><a href="#">Legal</a></li>
          <li><a href="#">Politicas de privacidades</a></li>
        </ul>
      </div>
    </div>
    <div class="redes">
      <div class="container">
        <div class="rodape-2">
          <p style="color: #fff;">Biolos Online App. All Rights Reserved</p>
          <div class="redes-sociais">
           
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
           
          </div>
      </div>
    </div>
  </footer>
  <!------------RODAPE------------------->

{include="../doc/_documentHeadClose"}