{include="shared/Header/header"}

{if="$status_code !== 0"} {if="$status_code === 400"}
<div class="alert alert-danger" role="alert">
  Erro ao adicionar produto!
</div>
{/if} {/if}

{if="$status_code !== 0"} {if="$status_code === 200"}
<div class="alert alert-success" role="alert">
  Produto adicionado com sucesso!.
</div>
{/if} {/if}

{if="$status_code !== 0"} {if="$status_code === 201"}
<div class="alert alert-success" role="alert">
  Produto removido com sucesso!.
</div>
{/if} {/if}

{if="$status_code !== 0"} {if="$status_code === 202"}
<div class="alert alert-success" role="alert">
  Reserva efectuada sucesso!.
</div>
{/if} {/if}

<div id="carrinho" class="">
  <div class="container">
    <div class="row" style="color: aliceblue">
      <div class="col-12 col-sm-12 col-md-12 col-lg-8">
        <div class="d-flex justify-content-between">
          <h3>Carrinho</h3>
          <h3>{function="GetTotalProductsIntoCart($client[0]["id"] ?? 0, $provider[0]["id"] ?? 0)"} Items</h3>
        </div>
        <hr />
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Produtos</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Preço</th>
              <th scope="col">Total</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {if="$products"}
            {loop="$products"}
            <tr>
              <th scope="row">
                <div class="row">
                  <div class="col-md-4">
                    <img src="/bioloOnline/src/resources/{$value.foto}"/>
                  </div>
                  <div class="col-md-8">
                    <h4>{$value.nome}</h4>                    
                  </div>
                </div>
              </th>
              <td>
                <div class="row">
                  <span class="ren-" style="padding: 4px; background: rgb(53, 50, 50);">
                    <a href="/bioloOnline/cart?ac=rem&qtd={$value.quantidade}&prd={$value.id}">-</a>
                  </span>
                  <input
                    type="number"
                    name="quantity"
                    id="input"
                    value="{$value.quantidade}"
                    maxlength="2"
                    disabled
                  />
                  <span class="add-" style="padding: 4px; background: rgb(53, 50, 50);">
                    <a href="/bioloOnline/cart?ac=add&qtd={$value.quantidade}&prd={$value.id}">+</a>
                  </span>
                </div>
              </td>
              <td>
                <span class="#">{$value.preco}kz</span>
              </td>
              <td>
                <span class="#">{$value.total}kz</span>
              </td>
              <td>
                <a 
                 href="/bioloOnline/purchase/{$value.id}/delete" 
                 onclick="return confirm('Are you sure you want to delete this product?')" >
                 X
                </a>
              </td>
            </tr>
            {/loop}
            {else}
            <th scope="row">
              <div class="row">               
                <div class="col-md-8">
                  <h4>Sem produtos</h4>                 
                </div>
              </div>
            </th>
            {/if}
          </tbody>
        </table>
      </div>
      <div class="b col-12 col-sm-12 col-md-12 col-lg-4">
        <div class="d-flex justify-content-center">
          <h3>Carrinho</h3>
        </div>
        <hr />
        <h3 class="d-flex justify-content-center my-4">Total: {function="formatNumber($total)"}kz</h3>
        <div class="btn-carrinho my-4">         
          {if="$products"}
            {if="$client[0]['id'] ?? 0"}
              <a class="btn btn-md btn-primary px-5" href="/bioloOnline/purchase/{$client[0]['id']}/complete">Finalizar</a>
              {else}
              <a class="btn btn-md btn-primary px-5" href="/bioloOnline/purchase/{$provider[0]['id']}/complete">Finalizar</a>
            {/if}
          {/if}
          <a class="btn btn-md btn-danger" href="/bioloOnline/products">Adicionar produtos</a>            
        </div>
      </div>
    </div>
  </div>
</div>
{include="shared/Footer/footer"}
