<!--banner-->
<section id="banner">
  <div class="container">
    <div class="img-banner col-md-12">
      <h1>
        Encontre as melhores marcas <br />
        que gostarias de vestir!...
      </h1>
    </div>
  </div>
</section>
<!--banner-->

<!--vendedores-->
<section id="vendedores" class="">
  <div class="container">
    <h3>Top dos vendedores</h3>
    <div class="lista-vendedogres">
      <div class="horizontal-scroll">
        <button id="btn-scroll-left" class="btn-scroll">
          <i class="fas fa-chevron-left" onclick="scrollHorizontally(1)"></i>
        </button>
        <button id="btn-scroll-right" class="btn-scroll">
          <i class="fas fa-chevron-right" onclick="scrollHorizontally(-1)"></i>
        </button>
        <div class="storys-container">
          <div class="storys-circle">
            <span class="activo">1</span>
            <img src="src/assets/images/img-scroll/1.jpg" />
            <div class="online"></div>
            <a class="nome-vendedor" href="profile-provider">Osvaldo Cariege</a>
            <span>2.99</span> 
          </div>
          <div class="storys-circle">
            <span class="activo">2</span>
            <img src="src/assets/images/img-scroll/2.jpg" />
            <div class="online"></div>
            <a class="nome-vendedor" href="profile-provider">Osvaldo Cariege</a>
            <span>2.99</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--vendedores-->

<!------------PRODUTOS------------------->
<section id="produtos">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="card col-sm-12 col-md-3" style="width: 18rem;">
        <a href="#">
          <img class="card-img-top" src="src/assets/images/vestuarios/casaco-amarelo.jpg" alt="Imagem de capa do card">
        </a>
        <div class="card-body">
          <p class="card-text">Casaco Amarelo</p>
        </div>
        <div class="card-info">
          <p class="card-text">1,25kz</p>
          <p class="card-text"><a href="#"><i class="fi-rr-heart"></i></a>92</p>
          <a href="#" class="btn btn-login">Comprar</a>
        </div>
      </div>
      <div class="card col-sm-12 col-md-3" style="width: 18rem;">
        <a href="#">
          <img class="card-img-top" src="src/assets/images/vestuarios/casaco-amarelo.jpg" alt="Imagem de capa do card">
        </a>
        <div class="card-body">
          <p class="card-text">Casaco Amarelo</p>
        </div>
        <div class="card-info">
          <p class="card-text">1,25kz</p>
          <p class="card-text"><a href="#"><i class="fi-rr-heart"></i></a>92</p>
          <a href="#" class="btn btn-login">Comprar</a>
        </div>
      </div>
      <div class="card col-sm-12 col-md-3" style="width: 18rem;">
        <a href="#">
          <img class="card-img-top" src="src/assets/images/vestuarios/casaco-amarelo.jpg" alt="Imagem de capa do card">
        </a>
        <div class="card-body">
          <p class="card-text">Casaco Amarelo</p>
        </div>
        <div class="card-info">
          <p class="card-text">1,25kz</p>
          <p class="card-text"><a href="#"><i class="fi-rr-heart"></i></a>92</p>
          <a href="#" class="btn btn-login">Comprar</a>
        </div>
      </div>
      <div class="card col-sm-12 col-md-3" style="width: 18rem;">
        <a href="#">
          <img class="card-img-top" src="src/assets/images/vestuarios/casaco-amarelo.jpg" alt="Imagem de capa do card">
        </a>
        <div class="card-body">
          <p class="card-text">Casaco Amarelo</p>
        </div>
        <div class="card-info">
          <p class="card-text">1,25kz</p>
          <p class="card-text"><a href="#"><i class="fi-rr-heart"></i></a>92</p>
          <a href="#" class="btn btn-login">Comprar</a>
        </div>
      </div>
     
    </div>
    <div class="row d-flex justify-content-center">
      <div class="card col-sm-12 col-md-3" style="width: 18rem;">
        <a href="#">
          <img class="card-img-top" src="src/assets/images/vestuarios/casaco-amarelo.jpg" alt="Imagem de capa do card">
        </a>
        <div class="card-body">
          <p class="card-text">Casaco Amarelo</p>
        </div>
        <div class="card-info">
          <p class="card-text">1,25kz</p>
          <p class="card-text"><a href="#"><i class="fi-rr-heart"></i></a>92</p>
          <a href="#" class="btn btn-login">Comprar</a>
        </div>
      </div>
      <div class="card col-sm-12 col-md-3" style="width: 18rem;">
        <a href="#">
          <img class="card-img-top" src="src/assets/images/vestuarios/casaco-amarelo.jpg" alt="Imagem de capa do card">
        </a>
        <div class="card-body">
          <p class="card-text">Casaco Amarelo</p>
        </div>
        <div class="card-info">
          <p class="card-text">1,25kz</p>
          <p class="card-text"><a href="#"><i class="fi-rr-heart"></i></a>92</p>
          <a href="#" class="btn btn-login">Comprar</a>
        </div>
      </div>
      <div class="card col-sm-12 col-md-3" style="width: 18rem;">
        <a href="#">
          <img class="card-img-top" src="src/assets/images/vestuarios/casaco-amarelo.jpg" alt="Imagem de capa do card">
        </a>
        <div class="card-body">
          <p class="card-text">Casaco Amarelo</p>
        </div>
        <div class="card-info">
          <p class="card-text">1,25kz</p>
          <p class="card-text"><a href="#"><i class="fi-rr-heart"></i></a>92</p>
          <a href="#" class="btn btn-login">Comprar</a>
        </div>
      </div>
      <div class="card col-sm-12 col-md-3" style="width: 18rem;">
        <a href="#">
          <img class="card-img-top" src="src/assets/images/vestuarios/casaco-amarelo.jpg" alt="Imagem de capa do card">
        </a>
        <div class="card-body">
          <p class="card-text">Casaco Amarelo</p>
        </div>
        <div class="card-info">
          <p class="card-text">1,25kz</p>
          <p class="card-text"><a href="#"><i class="fi-rr-heart"></i></a>92</p>
          <a href="#" class="btn btn-login">Comprar</a>
        </div>
      </div>
     
    </div>
    
  </div>
</section>


