<!--banner-->
<section id="banner">
  <div class="container">
    <div class="img-banner col-md-12">
      <!-- <h1>
        Encontre as melhores marcas <br />
        que gostarias de vestir!...
      </h1> -->
    </div>
  </div>
</section>
<!--banner-->

<!--vendedores-->
<section id="vendedores" class="">
  <div class="container">
    {if="$providers"}
    <h3>Top dos vendedores</h3>
    <div class="lista-vendedogres">
      <div class="horizontal-scroll">
        <button id="btn-scroll-left" class="btn-scroll">
          <i class="fas fa-chevron-left" onclick="scrollHorizontally(1)"></i>
        </button>
        <button id="btn-scroll-right" class="btn-scroll">
          <i class="fas fa-chevron-right" onclick="scrollHorizontally(-1)"></i>
        </button>
        <div class="storys-container">
          {loop="$providers"}
          <div class="storys-circle">
            <span class="activo"
              >{function="GetTotalProductsByProvider($value.id)"}</span
            >
            <img src="/bioloOnline/src/resources/{$value.foto}" />
            <div class="online"></div>
            <a
              class="nome-vendedor"
              href="/bioloOnline/profile-provider/{$value.id}"
              >{$value.nome}</a
            >
            <span>Vendedor</span>
          </div>
          {/loop}
        </div>
      </div>
    </div>
    {else}
    <div class="container">
      <h2 style="color: white; margin-top: 30px">Sem fornecedores</h2>
    </div>
    {/if}
  </div>
</section>
<!--vendedores-->

<!------------PRODUTOS------------------->
<div class="container">
  <div class="row">
    {$globalProviderId = $provider[0]["id"] ?? 0} 
    {loop="$products"}
    {if="$globalProviderId !== $value.fornecedor_id"}
    <div
      class="card-container col-12 col-sm-6 col-md-4 col-lg-3 d-flex flex-column justify-content-center align-items-center"
    >
      <div class="pro d-flex flex-column justify-content-center">
        <a
          href="/bioloOnline/product/{$value.id}/details/{$value.fornecedor_id}"
        >
          <img style="height:260px;"
            class="img-fluid"
            src="/bioloOnline/src/resources/{$value.foto}"
          />
        </a>
        <span class="nome-produto">{$value.product_name}</span>
        <div class="info-produto my-2">
          <p><span class="preco">{$value.preco}kz</span></p>                    
          <a href="/bioloOnline/purchase/{$value.id}/" class="btn btn-login" style="width:110px;">
            Comprar
          </a>          
        </div>
      </div>
    </div>
    {/if}
    {/loop}
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 d-flex justify-content-center mt-5">
      <a class="btn btn-compra" href="/bioloOnline/products">
        Ver mais produtos
      </a>
    </div>
  </div>
</div>
