{include="shared/Header/header"}
<!------------PRODUTOS------------------->
{if="$products"}
<section id="" class="" style="margin-top: 20px !important; margin-bottom: 0px">
  <div class="container">
    <div class="lista-produtos">
      <div class="row">
        <form
          action="/bioloOnline/products"
          method="get"
          class="col-sm-12 col-md-12 my-1 mx-3 ml-3 d-inline-flex align-content-center justify-content-between"
        >
          <input
            class="form-control col-md-8"
            style="padding: 5px 10px; border-radius: 10px; color: white"
            type="text"
            name="search"
            value="{$search}"
            placeholder="Pesquisar por produtos"
          />

          <select
            class="form-control col-sm-12 col-md-3 my-1"
            name="category"
            style="
              color: #fff;
              border: none;
              padding: 5px 10px;
              border-radius: 10px;
              background: #2a2d3a;
            "
          >
            <option value="0">All</option>
            {loop="$categories"}
            <option value="{$value.id}">{$value.nome}</option>
            {/loop}
          </select>
        </form>
      </div>
      <!------------PRODUTOS------------------->
      <!------------PRODUTOS------------------->
      <div class="container">
        <div class="row">
          {$globalProviderId = $provider[0]["id"] ?? 0} 
          {loop="$products"}
          <div
            class="card-container col-12 col-sm-6 col-md-4 col-lg-3 d-flex flex-column justify-content-center align-items-center"
          >
            <div class="pro d-flex flex-column justify-content-center">
              <a
                href="/bioloOnline/product/{$value.id}/details/{$value.fornecedor_id}"
              >
                <img
                  class="img-fluid"
                  src="/bioloOnline/src/resources/{$value.foto}"
                />
              </a>
              <span class="nome-produto">{$value.product_name}</span>
              <div class="info-produto my-2">
                <p><span class="preco">{$value.preco}kz</span></p>
                <p><i class="fi-rr-heart">307</i></p>
                {if="$globalProviderId !== $value.fornecedor_id"}
                <a
                  href="/bioloOnline/add-cart/{$value.id}"
                  class="btn btn-login"
                >
                  Comprar
                </a>
                {/if}
              </div>
            </div>
          </div>
          {/loop}
        </div>
      </div>
    </div>
  </div>
</section>
<!------------PRODUTOS------------------->

<!--==============PAGINAÇÃO==============-->
<nav class="paginacao" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {loop="$pages"}
    <li class="page-item">
      <a class="page-link" href="{$value.href}">{$value.text}</a>
    </li>
    {/loop}
  </ul>
</nav>

{else}
<div class="container">
  <h2 style="color: white; margin-top: 30px">Sem produtos</h2>
</div>
{/if} {include="shared/Footer/footer"}
