{include="shared/Header/header"}
<!------------PRODUTOS------------------->

{if="$providers"}

<section style="margin-top: 20px !important; margin-bottom: 0px">
  <div class="container">
    <div class="lista-produtos">
      <div class="row">
        <form
          action="/bioloOnline/providers"
          method="get"
          class="col-md-12"
          style="color: white"
        >
          <input
            class="form-control"
            style="
              margin-right: 18px;
              padding: 5px 10px;
              border-radius: 10px;
              color: white;
            "
            type="text"
            name="search"
            value="{$search}"
            placeholder="Pesquisar por produtos"
          />
        </form>
      </div>
      <!------------PRODUTOS------------------->
      <section id="vendedor" style="margin-top: 10px">
        <div class="container">
          <div class="row">
            {loop="$providers"}
            <div class="col-md-3">
              <span class="activo"
                >{function="GetTotalProductsByProvider($value.id)"}</span
              >
              <img src="/bioloOnline/src/resources/{$value.foto}" />
              <div class="online"></div>
              <a
                class="nome-vendedor"
                href="/bioloOnline/profile-provider/{$value.id}"
                >{$value.nome}</a
              >
              <span>Vendedor</span>
            </div>
            {/loop}
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
<!------------PRODUTOS------------------->

<!--==============PAGINAÇÃO==============-->
<nav class="paginacao" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {loop="$pages"}
    <li class="page-item">
      <a class="page-link" href="{$value.href}">{$value.text}</a>
    </li>
    {/loop}
  </ul>
</nav>

{else}

<section>
  <div class="container">
    <h1 style="color: white">Sem provedores</h1>
  </div>
</section>

{/if} {include="shared/Footer/footer"}
