{include="shared/doc/_documentHeadOpen"}

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a href="home" class="navbar-brand logo">
    <img
      src="/bioloOnline/src/assets/images/logo-44x44.png"
      class="img-responsive"
      alt=""
      style="width: 40px; height: 40px"
    />
    <span class="text-logo">BIOLOS ONLINE</span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto"></ul>
    <span class="navbar-text">
      <a href="home">Back to home</a>
    </span>
  </div>
</nav>

<!--Cadastrar cliente-->
<section id="login">
  <div>
    <div class="container">
      <div class="login">
        <div class="form" action="" method="post">
          <form class="needs-validation" novalidate>
            <div
              class="form-group"
              style="
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
              "
            ></div>

            <h3 style="color: white; margin-bottom: 20px;">Criar conta cliente</h3>
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="validationCustom02">Nome</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom02"
                  placeholder="Digite seu nome"
                  required
                />
                <div class="invalid-feedback">Digite seu nome</div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="validationCustom01">Email</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom01"
                  placeholder="Digite seu email.."
                  required
                />
                <div class="invalid-feedback">Digite seu email.</div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="validationCustom01">Contacto</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom01"
                  placeholder="Digite seu número.."
                  required
                />
                <div class="invalid-feedback">Digite seu número.</div>
              </div>
            </div>
            <button
              class="btn btn-primary btn-login"
              style="margin-top: 10px"
              type="submit"
            >
              Cadastrar
            </button>

            <a href="create-account" style="margin-left: 8px"
              >Criar conta fornecedor</a
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    "use strict";
    window.addEventListener(
      "load",
      function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName("needs-validation");
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add("was-validated");
            },
            false
          );
        });
      },
      false
    );
  })();
</script>

{include="shared/Footer/footer"}
