{include="../shared/Header/header"}

<section id="fornecedor">
  <div class="container">
    {if="$status_code !== 0"} {if="$status_code === 200"}
    <div class="alert alert-primary" role="alert">
      Perfil Actualizado com sucesso!
    </div>
    {/if} {/if}

    <div class="row">
      <div class="col-md-4 d-flex justify-content-center">
        {loop="$provider"}
        <img
          id="provider-image"
          class="img-fluid rounded"
          src="/bioloOnline/src/resources/{$value.foto}"
          alt="vendedor"
        />
      </div>
      <div class="col-md-8">
        <div class="col-md-12 d-flex justify-content-center"></div>
        <h2 class="text-center">{$value.nome}</h2>

        <p class="text-center"><strong>Email: </strong> {$value.email}</p>
        <p class="text-center"><strong>Contacto: </strong> {$value.contacto}</p>
        <p class="text-center"><strong>Rua: </strong> {$value.rua}</p>
        <p class="text-center"><strong>Bairro: </strong> {$value.bairro}</p>
        <p class="text-center"><strong>Cidade: </strong> {$value.cidade}</p>
        {/loop}

        <div class="info row col-md-12 d-flex justify-content-center">
          <div class="row">
            <div
              class="d-flex align-items-center flex-column justify-content-center text-dark"
            >
              <p>Produtos</p>
              <h4>395</h4>
            </div>
            <div class="">
              <div
                class="d-flex d-flex align-items-center flex-column justify-content-center text-dark"
              >
                <p>Views</p>
                <h4>395</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 d-flex justify-content-center my-4">
      <button type="button" class="btn-block btn btn-login btn-lg">
        <a href="/bioloOnline/add-product"> Add </a>
      </button>
      <button type="button" class="btn-block btn btn-light btn-lg">
        <a href="/bioloOnline/edit-profile" style="color: #010101 !important">
          Editar Perfil
        </a>
      </button>
    </div>
  </div>
</section>

<!------------PRODUTOS------------------->
<!------------PRODUTOS------------------->
<section id="" class="" style="margin-top: 20px !important; margin-bottom: 0px">
  <div class="container">
    <div class="lista-produtos">
      <div class="row">
        <input
          class="form-control col-sm-12 col-md-8 my-1 mx-3 ml-3"
          style="padding: 5px 10px; border-radius: 10px"
          type="text"
          name="search"
          placeholder="Pesquisar por produtos"
        />
        <select
          class="form-control col-sm-12 col-md-3 my-1 mr-2 ml-3"
          name="category"
          id=""
          style="
            color: #fff;
            border: none;
            padding: 5px 10px;
            border-radius: 10px;
            background: #2a2d3a;
          "
        >
          {loop="$categories"}
          <option value="{$value.id}">{$value.nome}</option>
          {/loop}
        </select>
      </div>
      <!------------PRODUTOS------------------->
      <!------------PRODUTOS------------------->
      <div class="container">
        <div class="row">
          {loop="$products"}

          <div
            class="card-container col-12 col-sm-6 col-md-4 col-lg-3 d-flex flex-column justify-content-center align-items-center"
          >
            <div class="pro d-flex flex-column justify-content-center">
              <a
                href="/bioloOnline/product/{$value.produto_id}/details/{$value.fornecedor_id}"
              >
                <img
                  class="img-fluid"
                  src="/bioloOnline/src/resources/{$value.foto}"
                />
              </a>

              <article
                style="
                  margin-top: 8px;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                "
              >
                <span class="nome-produto">{$value.nome}</span>
                <span class="nome-produto">{$value.preco} Kz</span>
              </article>

              <div class="info-produto my-2">
                {if="$value.estado === '0'"}
                <a href="/bioloOnline/product/{$value.produto_id}/state"
                  >Activar</a
                >
                {else}
                <a href="/bioloOnline/product/{$value.produto_id}/state"
                  >Desactivar</a
                >
                {/if}
                <a href="/bioloOnline/product/product/{$value.produto_id}/edit"
                  >Editar</a
                >
                <a
                  href="/bioloOnline/product/{$value.produto_id}/delete"
                  class=""
                  >Eliminar</a
                >
              </div>
            </div>
          </div>

          {/loop}
        </div>
      </div>
    </div>
  </div>
</section>
<!------------PRODUTOS------------------->

<!------------PRODUTOS------------------->

<!--==============PAGINAÇÃO==============-->
<nav class="paginacao" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
<script>
  var tooltipTriggerList = [].slice.call(
    document.querySelectorAll('[data-bs-toggle="tooltip"]')
  );
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl);
  });
</script>
{include="../shared/Footer/footer"}
